<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105376929511-6oqkflq7vg4s8js56s263lrro9ejuvj3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105376929511-6oqkflq7vg4s8js56s263lrro9ejuvj3</string>
	<key>API_KEY</key>
	<string>AIzaSyCeTtJ9XNRyPW-2HWKzUZOr4WvGQdVwdJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>105376929511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApp</string>
	<key>PROJECT_ID</key>
	<string>projet-alternance-94a69</string>
	<key>STORAGE_BUCKET</key>
	<string>projet-alternance-94a69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105376929511:ios:ce6b6fa19ed43e979d3442</string>
</dict>
</plist>